{
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 110vh;
background-color: #C19A6B;
}
form {
background: #C19A6B;
padding: 25px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label, input, button {
display: block;
margin: 10px 0;
}
